<div class="aboutMeWrapper">
    <div #observerAnchor3 id="observerAnchor3"></div>
    <div class="textAndPic">
        <div class="text"  *ngIf="showText" @slideInOutLeft>
            
            <h1>
                {{
                (languageService.isGerman$ | async) ?
                texts.header.aboutMe.de : texts.header.aboutMe.en
                }}
            </h1>
            <p>
                {{
                (languageService.isGerman$ | async) ?
                texts.aboutMeText.de : texts.aboutMeText.en
                }}
            </p>
            <p>
                <img src="/assets/signs/puzzle.svg" alt="">
                {{
                (languageService.isGerman$ | async) ?
                texts.aboutMeLocation.de : texts.aboutMeLocation.en
                }}
            </p>

            <p>
                <img src="/assets/signs/light.svg" alt="">
                {{
                (languageService.isGerman$ | async) ?
                texts.aboutMeMotivation.de : texts.aboutMeMotivation.en
                }}
            </p>

            <p>
                <img src="/assets/signs/locate1.svg" alt="">
                {{
                (languageService.isGerman$ | async) ?
                texts.aboutMeLogic.de : texts.aboutMeLogic.en
                }}
            </p>

        </div>
        <div class="picWithLine" *ngIf="showSkills" @slideInOutRight>
            <img src="/assets/SchazStephen2Rund.png" alt="facePicture" class="imgPortrait">
            <div class="greenLine"></div>
        </div>
        <div></div>
    </div>

</div>
<div class="greenLine2"></div>
<svg class="rightPurpleShadow" width="314" height="737" viewBox="0 0 314 737" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_34_33)">
        <path
            d="M228.132 144.613C295.528 63.8372 431.369 102.899 444.743 107.872C444.743 107.872 567.454 48.7449 488.954 170.155C410.453 291.565 647.304 254.353 647.304 254.353L507.445 440.642C507.445 440.642 427.442 227.389 273.691 328.48C214.782 367.212 188.6 422.464 178.713 475.893C227.993 500.617 302.148 520.578 409.771 532.8C939.115 592.918 189.119 643.204 189.119 643.204C189.119 643.204 162.795 561.913 178.713 475.893C-14.3916 379.009 174.438 208.966 228.132 144.613Z"
            fill="#9747FF" />
    </g>
    <defs>
        <filter id="filter0_f_34_33" x="0.710388" y="0.476685" width="739.594" height="735.728"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_34_33" />
        </filter>
    </defs>
</svg>
<svg class="leftGreenShadow" width="325" height="977" viewBox="0 0 325 977" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_35_40)">
        <path
            d="M-470.008 883.211C-539.541 882.42 -212.346 370.119 -212.346 370.119C-212.346 370.119 -93.3322 304.947 -2.53012 237.483C-33.3439 167.99 7.95888 67.6277 79.6118 100.024C129.889 122.757 73.5931 180.926 -2.53012 237.483C14.0679 274.917 51.5904 303.394 116.565 297.341C302.164 280.052 208.054 399.313 208.054 399.313C208.054 399.313 133.601 466.121 142.734 533.779L142.815 534.381C151.873 601.469 152.599 606.843 -112.156 694.21C-377.701 781.837 -400.476 884.002 -470.008 883.211Z"
            fill="#70E61C" />
    </g>
    <defs>
        <filter id="filter0_f_35_40" x="-572.705" y="0.758308" width="897.618" height="975.457"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_35_40" />
        </filter>
    </defs>
</svg>

<app-skills id="skills"></app-skills>