<div class="aboutMeWrapper">

    <div class="textAndPic">
        <div class="text">
            <h1>About me</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat nam, iure odio voluptate nulla aliquid
                sint.
                Tempora molestiae soluta blanditiis expedita nobis. Enim doloribus cum quos nihil suscipit provident
                dolor?
            </p>
            <p>
                <img src="/assets/signs/locate1.svg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis quasi commodi delectus, vitae
                autem quibusdam nemo ad dolorem incidunt voluptate officiis ducimus nulla fugiat animi at sapiente ab
                adipisci.
            </p>
            <p>
                <img src="/assets/signs/light.svg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis quasi commodi delectus, vitae
                autem quibusdam nemo ad dolorem incidunt voluptate officiis ducimus nulla fugiat animi at sapiente ab
                adipisci.
            </p>
            <p>
                <img src="/assets/signs/puzzle.svg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis quasi commodi delectus, vitae
                autem quibusdam nemo ad dolorem incidunt voluptate officiis ducimus nulla fugiat animi at sapiente ab
                adipisci.
            </p>
        </div>
        <div class="picWithLine">
            <img src="/assets/SchazStephen2Rund.png" alt="facePicture" class="imgPortrait">
            <div class="greenLine"></div>
        </div>
    </div>

</div>
<img src="/assets/shadows/purpleShadow2.png" alt="" class="rightPurpleShadow">

<app-skills id="skills"></app-skills>