<div class="aboutMeWrapper">

    <div class="textAndPic">
        <div class="text">
            <h1>
                {{
                (languageService.isGerman$ | async) ?
                texts.header.aboutMe.de : texts.header.aboutMe.en
                }}
            </h1>
            <p>
                {{
                (languageService.isGerman$ | async) ?
                texts.aboutMeText.de : texts.aboutMeText.en
                }}
            </p>
            <p>
                <img src="/assets/signs/puzzle.svg" alt="">
                {{
                    (languageService.isGerman$ | async) ?
                    texts.aboutMeLocation.de : texts.aboutMeLocation.en
                    }}
            </p>
            
            <p>
                <img src="/assets/signs/light.svg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis quasi commodi delectus, vitae
                autem quibusdam nemo ad dolorem incidunt voluptate officiis ducimus nulla fugiat animi at sapiente ab
                adipisci.
            </p>

            <p>
                <img src="/assets/signs/locate1.svg" alt="">
                
            </p>
            
        </div>
        <div class="picWithLine">
            <img src="/assets/SchazStephen2Rund.png" alt="facePicture" class="imgPortrait">
            <div class="greenLine"></div>
        </div>
    </div>

</div>
<img src="/assets/shadows/purpleShadow2.png" alt="" class="rightPurpleShadow">

<app-skills id="skills"></app-skills>