<app-header></app-header>
<div class="datenschutz" [innerHTML]="(languageService.isGerman$ | async) ?
datenschutz.de : datenschutz.en">
    <h1>Datenschutzerklärung zur Nutzung des Kontaktformulars</h1>

    <p>Mit dem Absenden des Kontaktformulars erklärst du dich damit einverstanden, dass die von dir eingegebenen Daten
        (wie Name, E-Mail-Adresse und Nachricht) zum Zweck der Beantwortung deiner Anfrage und der Kontaktaufnahme durch
        uns verarbeitet und gespeichert werden. Diese Daten werden ausschließlich zum Zweck der Kommunikation und
        Bearbeitung deiner Anfrage verwendet und nicht an Dritte weitergegeben.</p>

    <h3>1. Verantwortlicher</h3>
    <p>Verantwortlich für die Datenverarbeitung im Zusammenhang mit dem Kontaktformular ist:</p>
    <ul>
        <li>Name: Stephen Schaz</li>
        <li>E-Mail-Adresse: <a href="mailto:stephenschaz90@gmail.com">stephenschaz90&#64;gmail.com</a></li>
        <li>Telefonnummer: 017646070067</li>
    </ul>

    <h3>2. Erhebung und Verarbeitung personenbezogener Daten</h3>
    <p>Die folgenden personenbezogenen Daten werden erfasst und verarbeitet, wenn du das Kontaktformular ausfüllst:</p>
    <ul>
        <li>Name</li>
        <li>E-Mail-Adresse</li>
        <li>Nachricht/Anfrage</li>
    </ul>

    <h3>3. Zwecke der Datenverarbeitung</h3>
    <p>Die von dir übermittelten Daten werden ausschließlich für die folgenden Zwecke verwendet:</p>
    <ul>
        <li>Bearbeitung und Beantwortung deiner Anfrage.</li>
        <li>Kommunikation mit dir im Zusammenhang mit dem Kontaktformular.</li>
    </ul>

    <h3>4. Rechtsgrundlage der Verarbeitung</h3>
    <p>Die Verarbeitung deiner personenbezogenen Daten erfolgt auf Grundlage deiner Einwilligung gemäß Art. 6 Abs. 1
        lit. a DSGVO. Durch das Absenden des Formulars stimmst du der Verarbeitung deiner Daten zu.</p>

    <h3>5. Datenweitergabe</h3>
    <p>Die von dir übermittelten Daten werden nicht an Dritte weitergegeben, es sei denn, dies ist für die Bearbeitung
        deiner Anfrage erforderlich (z. B. Weiterleitung an einen externen Dienstleister, falls notwendig).</p>

    <h3>6. Datenaufbewahrung</h3>
    <p>Die von dir übermittelten Daten werden nur so lange aufbewahrt, wie es zur Beantwortung deiner Anfrage notwendig
        ist. Sobald die Anfrage bearbeitet wurde, werden die Daten gelöscht, es sei denn, eine längere Aufbewahrung ist
        gesetzlich erforderlich.</p>

    <h3>7. Deine Rechte</h3>
    <p>Du hast das Recht:</p>
    <ul>
        <li>Auskunft über die von dir gespeicherten personenbezogenen Daten zu erhalten (Art. 15 DSGVO).</li>
        <li>Die Berichtigung oder Löschung deiner Daten zu verlangen (Art. 16 und 17 DSGVO).</li>
        <li>Die Einschränkung der Verarbeitung zu verlangen (Art. 18 DSGVO).</li>
        <li>Widerspruch gegen die Verarbeitung deiner Daten einzulegen (Art. 21 DSGVO).</li>
    </ul>

    <h3>8. Widerruf der Einwilligung</h3>
    <p>Du kannst deine Einwilligung zur Verarbeitung deiner personenbezogenen Daten jederzeit widerrufen. Der Widerruf
        erfolgt durch eine einfache Nachricht an <a href="mailto:stephenschaz90@gmail.com">stephenschaz90&#64;gmail.com</a>.
        Der Widerruf hat jedoch keinen Einfluss auf die Rechtmäßigkeit der Verarbeitung, die bis zum Widerruf
        stattgefunden hat.</p>

    <h3>9. Beschwerderecht</h3>
    <p>Du hast das Recht, bei der zuständigen Aufsichtsbehörde Beschwerde einzulegen, wenn du der Ansicht bist, dass die
        Verarbeitung deiner personenbezogenen Daten gegen die DSGVO verstößt.</p>

    <h3>10. Sicherheit der Datenübertragung</h3>
    <p>Die Übertragung deiner Daten über das Kontaktformular erfolgt über eine verschlüsselte Verbindung (SSL/TLS), um
        die Sicherheit deiner Daten zu gewährleisten.</p>

    <h3>11. Kontakt</h3>
    <p>Falls du Fragen zum Datenschutz hast oder deine Rechte ausüben möchtest, kannst du uns jederzeit unter <a
            href="mailto:stephenschaz90@gmail.com">stephenschaz90&#64;gmail.com</a> kontaktieren.</p>
</div>
<app-footer></app-footer>