.datenschutz {
    max-width: 1440px;
    width: 100%;
    font-family: 'Poppins';
    color: white;
    margin: 60px auto;

    a {
        text-decoration: unset;
        color: white;
    }
}

:host ::ng-deep .datenschutz {
    p,
    h1,
    h3 {
      padding: 0 100px;
    }
  
    ul {
      padding: 0 140px;
    }

    a {
        text-decoration: none;
        color: #70E61C;
    }
  }

  @media (max-width: 700px) {
    :host ::ng-deep .datenschutz {
        p,
        h1,
        h3 {
          padding: 0 51px;
        }
      
        ul {
          padding: 0 91px;
        }
      }
  }

  @media (max-width: 540px) {
    :host ::ng-deep .datenschutz {
        p,
        h1,
        h3 {
          padding: 0 26px;
        }
      
        ul {
          padding: 0 66px;
        }
      }
  }