@media (max-width: 2068px) {
    .textboxAndBtn {
        width: 70% !important;
        margin-top: calc(686px - 24vw) !important;
        margin-right: calc(678px - 29vw) !important;
        height: unset !important;

        a {
            margin-top: 61px;
        }
    }

    .textWrapper {
        margin-bottom: 50px !important;
    }

    .textbox {

        .Iam {
            font-size: 62px !important;
            top: 20% !important;
        }

        .name {
            font-size: 81px !important;
        }

        .job {
            font-size: 59px !important;
        }
    }

    svg {
        top: 14.58vh;
    }

    .portraitImg {
        max-width: 92%;
    }
}

@media (max-width: 1890px) {
    .textboxAndBtn {
        margin-right: unset !important;
        margin-top: 15vh !important;

        a {
            margin-inline-end: unset !important;
        }
    }

    .portraitImg {
        max-width: 90%;
    }

    .portraitImg {
        margin-inline-end: unset !important;
        margin-top: 3.8vh !important;
    }

    .textbox {
        margin-inline-end: unset !important;
    }

    svg {
        top: 19.38vh;
    }
}

@media (max-width: 1640px) {
    .textboxAndBtn a {
        margin-top: 52.8px;
    }
}

@media (max-width: 1600px) {
    .portraitImg {
        max-width: 100%;
    }
}

@media (max-width: 1435px) {

    svg {
        top: 13vh;
    }

    .topPartWrapper {
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        max-height: 59vh !important;
        height: 100% !important;
        margin-top: unset !important;

        .textboxAndBtn {
            margin-right: unset !important;
            margin-top: unset !important;
            position: absolute;
            bottom: -24vh;
            flex-grow: 0;
            width: 100% !important;
            justify-content: center;
            display: flex;
            align-items: center;

            .textbox {
                width: 100%;
                justify-content: center;

                .nameBox {
                    margin: unset !important;
                    padding-left: 46.8px;
                }

                .name,
                .job {
                    padding-right: unset !important;
                }

                .Iam {
                    right: calc(50% + 240px);

                }
            }

            a {
                margin-top: 32px !important;
                margin-left: unset !important;
            }
        }

        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

        .mainPicture {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            max-width: 62%;

            .portraitImg {
                margin-top: unset !important;
                max-width: 85%;
                min-width: unset !important;
            }
        }

        .backgroundShades {
            left: 0px !important;
            top: -60px !important;
            max-width: 96vw !important;
            max-height: 730px;
            height: 100%;
        }
    }

    .textWrapper {
        flex-grow: unset;

        .scroll {
            display: none;
        }

        .mail {
            display: none;
        }
    }
}

@media (max-width: 1435px) and (max-height: 940px) {
    svg {
        top: 12vh;
    }
}

@media (max-width: 1435px) and (max-height: 850px) {
    svg {
        top: 8vh;
    }

    .mainPicture {
        .portraitImg {
            max-width: 65% !important;
        }
    }
}



@media (max-width: 1070px) {

    svg {
        top: 20.1vh;
    }

    .topPartWrapper {
        margin-top: 50px !important;

        .textboxAndBtn {
            position: static;
        }

        .mainPicture {
            max-width: 90% !important;

            .portraitImg {
                max-width: 600px;
                width: 100%;
                min-width: 487px !important;
            }
        }

        .textbox {


            .nameBox {
                padding-left: 29.8px !important;

                .job {
                    font-size: 42px !important;
                }

                .name {
                    font-size: 58px !important;
                }
            }

            .Iam {
                font-size: 42px !important;
                right: calc(50% + 174px) !important;
                top: 22px !important;
            }
        }
    }

    .textWrapper {

        .socials {
            max-width: 34% !important;
            gap: 16px;

            .links {
                gap: 16px;
            }

            .vector1 {
                min-width: 32px !important;
            }
        }
    }
}

@media (max-width: 625px) and (max-height: 850px) {

    svg {
        top: 20vh !important;
    }

    .topPartWrapper {
        margin-top: 16px !important;

        .textboxAndBtn {
            .textboxAndBtn {
                margin-top: -93px !important;
            }
        }

        .mainPicture {
            .portraitImg {
                margin-top: 32px !important;
            }
        }
    }
}

@media (max-width: 800px) {

    svg {
        top: 23vh !important;
    }

    .topPartWrapper {

        .textboxAndBtn {
            margin-top: -30px !important;
        }

        .mainPicture {
            .portraitImg {
                min-width: 400px !important;
            }
        }
    }
}

@media (max-width: 535px) {
    svg {
        top: 20vh !important;
    }

    .topPartWrapper {

        .textboxAndBtn {
            margin-top: unset !important;

            a {
                padding: 10px 20px !important;
                font-size: 18px !important;
                margin-top: 16px !important;
            }

            .textbox {
                .Iam {
                    font-size: 25px !important;
                    right: calc(50% + 104px) !important;
                    top: 9px !important;
                }

                .nameBox {
                    padding-left: 20.8px !important;

                    .name {
                        font-size: 35px !important;
                    }

                    .job {
                        font-size: 25.3px !important;
                    }

                }
            }
        }

        .mainPicture {
            .portraitImg {
                min-width: 360px !important;
                margin-top: unset !important;
            }
        }
    }

    .textWrapper {
        margin-bottom: 24px !important;
    }
}

@media (max-width: 535px) and (max-height: 943px) {
    svg {
        top: 22vh !important;
    }

    .textboxAndBtn {
        margin-top: unset !important;
    }

    .mainPicture .portraitImg {
        max-width: 91% !important;
    }
}

@media (max-width: 535px) and (max-height: 850px) {
    .topPartWrapper {
        .textboxAndBtn {
            margin-top: -15px !important;
        }
    }
}



@media(max-width: 440px) {

    svg {
        top: 19vh !important;
    }

    .topPartWrapper {
        margin-top: 16px !important;
        gap: 32px !important;

        .mainPicture {
            .portraitImg {
                min-width: 290px !important;
                margin-bottom: 42px !important;
            }
        }
    }
}

@media(max-width: 440px) and (max-height: 740px) {

    .topPartWrapper {
        gap: unset !important;

    }
}

