svg {
    position: absolute;
    top: 377.6px;
    left: 0;
}

.textWrapper {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 35px;
position: absolute;
width: 718px;
height: 172px;
right: 100px;
top: 297px;
background-color: white;
}