content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 37px 100px;
    box-sizing: border-box;

    .menuToggle {
        display: none;
    }

    img {
        width: 150px;
        height: 35px;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 92px;
        max-width: 524px;
        width: 100%;
        height: 35.03px;
        font-family: 'Poppins';
        font-weight: 300;
        color: white;
        font-size: 18px;
    }

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 29px;
    height: 32px;
    width: 100%;
    max-width: 324px;

    a {
        color: white;
        font-weight: 300;
        font-size: 24px;
        text-decoration: none;
        white-space: nowrap;
        transition: transform 0.2s ease-in-out;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #70E61C;
            /* Farbe der Linie */
            transition: width 0.3s ease;
        }

        &:hover {
            color: #70E61C;

            &::after {
                width: 40px;
            }
        }
    }
}

.languageBtns {
    display: flex;
    max-width: 92px;
    width: 100%;
    height: 32px;
    justify-content: space-between;
    gap: 16px;
}

app-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(20, 29, 47, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    z-index: 9999;

}

.langBtnOff {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    gap: 5px;
    width: 38px;
    height: 32px;
    border: 1px solid #70E61C;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: #9747FF;
    }
}

.langBtnOn {
    cursor: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 39px;
    height: 32px;
    background: #70E61C;
    border-radius: 10px;
}

button {
    all: unset;
    display: inline-block;

}

@media(max-width: 1170px) {
    content {

        nav {
            max-width: fit-content;
        }
    }


}

@media(max-width: 970px) {
    content {
        padding: 37px 100px;

        nav {
            display: none;
        }

        .menuToggle {
            display: block;
            cursor: pointer;
        }
    }


}

@media(max-width: 700px) {
    content {
        padding-left: calc(8vw);
        padding-right: calc(8vw);
    }
}

@media(max-width: 540px) {
    content {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}

@media (min-width: 2600px) {
    content {

        nav {
            gap: 120px;
            max-width: 880px;
            justify-content: space-around;
        }

        .links {
            gap: 48px;

            a {
                font-size: 32px !important;
            }
        }

        img {
            width: 200px !important;
            height: auto !important;
        }
    }
}