<content>
    <img src="/assets/Bewerbungslogo.png" alt="">
    <nav>
        <div class="links">
            <a href="#aboutMe" (click)="scrollToFragment($event, 'aboutMe')">About me</a>
            <a href="#skills" (click)="scrollToFragment($event, 'skills')">Skills</a>
            <a href="#portfolio" (click)="scrollToFragment($event, 'portfolio')">Portfolio</a>
        </div>
        <div class="languageBtns">
            <button class="langBtnOff">DE</button>
            <button class="langBtnOn">EN</button>
        </div>
    </nav>
</content>