.skillAndTextWrapDesktop {
    display: flex;
    margin-top: 70px;
    max-width: 1360px;
    width: 100%;
    min-height: 39.8vh;
    height: 470px;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;

}

.dividingVector2 {
    width: calc((100vw - 1258px) / 2);
    height: 0px;
    border: 2px solid #9747FF;
    position: absolute;
    top: 16.22%;
    left: calc((100% + 322px) / 2);
}

.skillAndTextWrapMobile {
    display: none;
    max-width: 1440px;
    margin: 70px auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.flexEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
}

.linkBox {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textAndButton {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    max-width: 40%;
    width: 100%;
    margin-top: -50px;
    position: relative;

    .h1AndLine {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: fit-content;
        width: 100%;
        gap: 5px;


        .dividingVector {
            display: none;
            max-width: 100px;
            width: 100%;
            height: 0px;
            border: 2px solid #9747FF;
        }
    }

    h1 {
        all: unset;
        color: white;
        font-weight: 700;
        font-size: 90px;
        margin-block-start: 0;
        text-align: end;
        white-space: nowrap;
        width: fit-content;
    }

    .undertitle {
        font-weight: 400;
        font-size: 16px;
        color: white;
        width: 77%;
        text-align: end;
    }

    .h2AndButton {
        width: 77%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
            color: white;
            font-weight: 400;
            font-size: 16px;
            text-align: end;
            margin-block-start: 0;
            z-index: 4;
        }

        a {
            all: unset;
            font-family: 'Poppins';
            color: white;
            font-weight: 300;
            font-size: 23px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            gap: 10px;
            background: #70E61C;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;

            &:hover {
                background: #9747FF;
                transform: scale(1.1);
                box-shadow: none;
                border: unset;
            }
        }
    }

    .secondHeader {
        color: white;
        width: 100%;
        justify-content: flex-end;
        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        z-index: 4;

        h2 {
            margin-block-start: 0;
            margin-block-end: 16px;
            font-size: 32px;
            white-space: nowrap;
        }

        .purpleH2 {
            color: #9747FF;
            text-align: end;
        }
    }
}

.skillSymbols {
    width: 100%;
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    gap: 0px 32px;
    height: 75%;

    .image-wrapper {
        height: fit-content;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        all: unset;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: white;
        text-align: center;
        width: 61px;
        line-height: 1.1;
        margin-top: 8px;
    }

    .skill-image {
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        height: 100%;
        z-index: 3;

    }

    .skill-image:hover {
        transform: translateY(-32px);
        transition: transform 0.4s ease-in-out;
    }

    .last-image {
        width: 90px;
        height: auto;
        z-index: 3;


    }


    img:last-of-type:hover {
        filter: brightness(1000%) contrast(100%);
    }

}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    bottom: 79%;
    left: 60%;
    transform: translateX(-50%);
    width: 200px;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 5;

    img {
        width: 100%;
        max-width: 320px;
        height: auto;
        border-radius: 0px;
    }

}

.tooltip.visible {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1440px) {
    .dividingVector {
        display: block !important;
    }

    .h1AndLine {
        max-width: 580px !important;
    }

    .dividingVector2 {
        display: none !important;
    }
}

@media (max-width: 1170px) {
    h1 {
        font-size: 70px !important;
    }

    .secondHeader {
        flex-direction: column;
        justify-content: unset;
        align-items: flex-end;

        h2 {
            margin-block-end: 0 !important;
        }
    }

    .textAndButton {
        a {
            width: 120px !important;
            height: 30px !important;
        }
    }
}

@media (max-width: 1020px) {
    .textAndButton {
        p {
            font-size: 14px !important;
        }
    }
}

@media (max-width: 903px) {
    h1 {
        font-size: 62px !important;
    }

    .skillAndTextWrap {
        margin-left: 20px !important;
    }

    .skillSymbols {
        .skill-image {
            max-width: 48px;
            max-height: 48px;
        }

        .last-image {
            width: 78px;
        }
    }
}

.placeholder {
    visibility: hidden;
    height: 0;
}

@media(max-width: 970px) {

    .skillAndTextWrapMobile {
        display: flex;
    }

    .skillAndTextWrapDesktop {
        display: none;
    }

    .tooltip {
        left: 90px;
        bottom: 70%;

    }

    .skillSymbols {

        gap: 32px 0;
        max-width: 90%;
        height: auto;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);

        .last-image {
            margin-left: 0px;
        }

    }

    .textAndButton {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        align-items: center;

        .h1AndLine {
            justify-content: flex-end;
            max-width: 70%;
            width: 100%;
            gap: 38px;

            .dividingVector {
                min-width: 24px;
                max-width: 218px;
            }
        }

        .undertitle {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                max-width: 71%;
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 50px 0;
            }
        }

        .h2AndButton {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                max-width: 62%;
                margin-block-start: 20px;
                margin-block-end: 30px;
                text-align: center;
            }

            .secondHeader {
                flex-direction: row;
                justify-content: center;
            }

            br {
                display: none;
            }
        }

    }
}

@media(max-width: 700px) {
    .skillSymbols {
        max-width: 100% !important;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 55px !important;
        margin-left: calc(50% - 120px) !important;
    }
}

@media(max-width: 540px) {
    .skillSymbols {
        grid-template-columns: repeat(3, 1fr);
    }
    .h1AndLine {
        gap: 12px !important;
        h1 {
            font-size: 45px !important;
            margin-left: calc(50% - 97px) !important;
        }
    }
    
}

@media (max-width: 517px) {

    .linkBox {
        a {
            width: 83px !important;
            height: 20px !important;
            font-size: 18px !important;
            padding: 15px 20px !important;
        }
    }

    .secondHeader {

        h2 {
            font-size: 22px !important;
        }



    }
}

@media (max-width: 360px) {
    .tooltip-container {
        display: contents !important;
    }
}