<div class="skillAndTextWrapDesktop">
    <div class="skillSymbols">
        <div *ngFor="let skill of skillset; let last = last" class="tooltip-container">
            <div class="image-wrapper">
                <img [src]="skill.img" alt="" [ngClass]="last ? 'last-image' : 'skill-image'"
                    (mouseover)="onMouseOver(last)" (mouseleave)="onMouseLeave()">
                <p *ngIf="skill.text" [ngStyle]="{'margin-left': skill.margin ? skill.margin + 'px' : '0px'}">
                    {{ skill.text }}
                </p>
            </div>
            <!-- Tooltip wird nur für das letzte Element gerendert -->
            <div class="tooltip" *ngIf="last" [ngClass]="{ 'visible': hover }">
                <img src="/assets/skills/learningHover.svg" alt="Tooltip-Bild">
            </div>
        </div>
    </div>
    <div class="textAndButton">
        <div class="h1AndLine">
            <h1>My Skills</h1>
            <div class="dividingVector"></div>

        </div>
        <div class="undertitle">
            <p>
                {{
                (languageService.isGerman$ | async) ?
                texts.skillsUndertitle.de : texts.skillsUndertitle.en
                }}
            </p>
        </div>
        <div class="h2AndButton">
            <div class="secondHeader">
                <h2>{{
                    (languageService.isGerman$ | async) ?
                    texts.skillTextH2.de : texts.skillTextH2.en
                    }}
                </h2>
                <h2 class="purpleH2">
                    {{
                    (languageService.isGerman$ | async) ?
                    texts.skillTextH2High.de : texts.skillTextH2High.en
                    }}
                </h2>
            </div>
            <p>
                {{
                (languageService.isGerman$ | async) ?
                texts.skillText1.de : texts.skillText1.en
                }}
                <br>
                {{
                (languageService.isGerman$ | async) ?
                texts.skillText2.de : texts.skillText2.en
                }}
            </p>
            <a href="#contact" (click)="scrollToFragment($event, 'contact')">{{
                (languageService.isGerman$ | async) ?
                texts.hereIAmBtn.de : texts.hereIAmBtn.en
                }}
            </a>
        </div>
    </div>
</div>
<div class="skillAndTextWrapMobile">

    <div class="textAndButton">
        <div class="flexEnd">
            <div class="h1AndLine">
                <h1>My Skills</h1>
                <div class="dividingVector"></div>
            </div>
            <div class="undertitle">
                <p>
                    {{
                    (languageService.isGerman$ | async) ?
                    texts.skillsUndertitle.de : texts.skillsUndertitle.en
                    }}
                </p>
            </div>
        </div>

        <div class="skillSymbols">
            <div *ngFor="let skill of skillset; let last = last" class="tooltip-container">
                <div class="image-wrapper">
                    <img [src]="skill.img" alt="" [ngClass]="last ? 'last-image' : 'skill-image'"
                        (mouseover)="onMouseOver(last)" (mouseleave)="onMouseLeave()">
                    <p *ngIf="skill.text" [ngStyle]="{'margin-left': skill.margin ? skill.margin + 'px' : '0px'}">
                        {{ skill.text }}
                    </p>
                </div>
                <div class="tooltip" *ngIf="last" [ngClass]="{ 'visible': hover }">
                    <img src="/assets/skills/learningHover.svg" alt="Tooltip-Bild">
                </div>
            </div>
            <div class="placeholder"></div>
        </div>
        <div class="h2AndButton">
            <div class="secondHeader">
                <h2>{{
                    (languageService.isGerman$ | async) ?
                    texts.skillTextH2.de : texts.skillTextH2.en
                    }}
                </h2>
                <h2 class="purpleH2">
                    {{
                    (languageService.isGerman$ | async) ?
                    texts.skillTextH2High.de : texts.skillTextH2High.en
                    }}
                </h2>
            </div>
            <p>
                {{
                (languageService.isGerman$ | async) ?
                texts.skillText1.de : texts.skillText1.en
                }}
                <br>
                {{
                (languageService.isGerman$ | async) ?
                texts.skillText2.de : texts.skillText2.en
                }}
            </p>
            <div class="linkBox">
                <a href="#contact" (click)="scrollToFragment($event, 'contact')">{{
                    (languageService.isGerman$ | async) ?
                    texts.hereIAmBtn.de : texts.hereIAmBtn.en
                    }}
                </a>
            </div>

        </div>
    </div>
</div>
<svg class="leftGreenShadow" width="325" height="977" viewBox="0 0 325 977" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_35_40)">
        <path
            d="M-470.008 883.211C-539.541 882.42 -212.346 370.119 -212.346 370.119C-212.346 370.119 -93.3322 304.947 -2.53012 237.483C-33.3439 167.99 7.95888 67.6277 79.6118 100.024C129.889 122.757 73.5931 180.926 -2.53012 237.483C14.0679 274.917 51.5904 303.394 116.565 297.341C302.164 280.052 208.054 399.313 208.054 399.313C208.054 399.313 133.601 466.121 142.734 533.779L142.815 534.381C151.873 601.469 152.599 606.843 -112.156 694.21C-377.701 781.837 -400.476 884.002 -470.008 883.211Z"
            fill="#70E61C" />
    </g>
    <defs>
        <filter id="filter0_f_35_40" x="-572.705" y="0.758308" width="897.618" height="975.457"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_35_40" />
        </filter>
    </defs>
</svg>

<div class="dividingVector2"></div>