.portfolioHeader {
    margin-top: 36px;
    max-width: 100%;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 3;

    .purpleLine1 {
        position: absolute;
        left: calc(50% - 300px);
        width: 70px;
        height: 0px;
        border: 2px solid #9747FF;
    }

    h1 {
        all: unset;
        width: fit-content;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 90px;
        line-height: 120%;
        text-align: center;
        margin: 0 40px;
        color: #FFFFFF;
    }

    .purpleLine2 {
        position: absolute;
        left: calc(50% + 230px);
        width: calc(50vw - 243px);
        height: 0px;
        border: 2px solid #9747FF;
    }
}

.reverseRow {
    flex-direction: row-reverse;
}

.flexEnd {
    align-items: flex-end;
    padding-left: 36px;
}

.textEnd {
    text-align: end !important;
}

p {
    all: unset;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    max-width: 80%;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 96px;
    text-align: center;
    z-index: 3;
}

#observerAnchor4 {
    position: absolute;
    top: 180px;
    width: 1px;
    height: 1px;
}

.projectDiv {
    position: relative;
    max-width: 1440px;
    width: 100%;
}

.projectWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1168px;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    align-items: center;

    .projectBox {
        display: flex;
        gap: 86px;
        max-width: 1168px;
        width: 100%;
        margin-bottom: 48px;
        z-index: 3;
        align-items: center;
        justify-content: flex-end;

        .imgProject {
            max-width: 420px;
            width: 100%;
            height: auto;
        }

        .infobox {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 513px;
            width: 100%;
            height: 339.19px;
            font-family: 'Poppins';
            gap: 35px;

            p {
                all: unset;
                font-family: inherit;
            }

            .projectName {
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
                color: #9747FF;
                z-index: 4;
            }

            .usedSkills {
                font-weight: 300;
                font-size: 23px;
                line-height: 120%;
                color: #70E61C;
                z-index: 4;
            }

            .description {
                font-weight: 400;
                max-width: 86%;
                width: 100%;
                font-size: 16px;
                line-height: 120%;
                color: #FFFFFF;
                z-index: 4;
            }

            a {
                all: unset;
                cursor: pointer;
                font-family: 'Poppins';
                font-weight: 300;
                color: #FFFFFF;
                font-size: 23px;
            }

            .btnBox {
                max-width: 375px;
                width: 100%;
                height: 80.3px;
                display: flex;
                gap: 86px;
            }

            .linkBtn {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                max-width: 152px;
                width: 100%;
                height: 58px;
                background: #9747FF;
                border-radius: 10px;
                transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;

                &:hover {
                    background: #70E61C;
                    transform: scale(1.1);
                    box-shadow: none;
                    border: unset;
                }
            }

            .BtnDisabled {
                box-sizing: border-box;
                white-space: nowrap;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 15px 30px;
                color: black;
                gap: 10px;
                max-width: 152px;
                width: 100%;
                justify-content: center;
                height: 58px;
                background: #FFFFFF;
                border-radius: 10px;
                pointer-events: none;
            }

            .gitBtn {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                max-width: 137px;
                width: 100%;
                height: 58px;
                border: 1px solid #70E61C;
                border-radius: 10px;
                transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;

                &:hover {
                    background: #9747FF;
                    transform: scale(1.1);
                    box-shadow: none;
                    border: unset;
                }
            }
        }
    }
}

.purpleShadow3 {
    position: absolute;
    left: -85px;
    top: 50%;
    max-width: 636px;
    width: 100%;
    max-height: 748.73px;
    height: 100%;
}

@media (max-width: 1170px) {
    h1 {
        font-size: 70px !important;
    }

    .portfolioHeader {
        .purpleLine1 {
            left: calc(50% - 240px) !important;
        }

        .purpleLine2 {
            left: calc(50% + 170px) !important;
            width: calc(50% - 174px);
        }
    }

    .btnBox {
        align-items: center !important;
        justify-content: center !important;
        gap: 50px !important;
    }
}

@media (max-width: 1080px) {
    h1 {
        font-size: 62px !important;
    }

    .purpleShadow3 {
        top: 54% !important;
        max-height: 562.73px !important;
    }

    .projectWrapper {
        height: fit-content;

        .projectBox {
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            gap: 0;
            margin-bottom: 0;

            .infobox {
                align-items: center !important;
                margin-top: -90px;
                margin-bottom: 32px;

                .description,
                .usedSkills {
                    padding: 0 6vw !important;
                }
            }

            .description {
                align-items: center !important;
                text-align: center !important;
            }
        }
    }

    .textEnd {
        text-align: center !important;
    }

    .flexEnd {
        padding-left: unset !important;
    }
}

@media(max-width: 840px) {
    .purpleShadow3 {
        top: 50% !important;
        max-height: 504.73px !important;
    }
}

@media (max-width: 600px) {


    .portfolioHeader {
        h1 {
            font-size: 55px !important;
        }

        .purpleLine1 {
            width: calc(50% - 194px) !important;
            left: 51px !important;
        }

        .purpleLine2 {
            left: calc(50% + 138px) !important;
            width: calc(50% - 142px) !important;
        }
    }

    .projectBox {
        .infobox {
            align-items: center !important;
            margin-top: unset !important;
            margin-bottom: unset !important;
        }
    }


}

@media (max-width: 540px) {
    .portfolioHeader {

        h1 {
            font-size: 45px !important;
            margin: unset !important;
        }

        .purpleLine1 {
            left: 25px !important;
            max-width: calc(50% - 142px) !important;
            width: 100% !important;
            min-width: 20px !important;
        }

        .purpleLine2 {
            left: calc(50% + 115px) !important;
            width: calc(50% - 119px) !important;
        }
    }

    .btnBox {

        gap: 24px !important;
    }

    .linkBtn {
        padding: 15px 25px !important;
        max-width: 130px !important;
        width: 100% !important;
        height: 48px !important;
        white-space: nowrap !important;

        &:hover {
            background: #9747FF !important;
            transform: none !important;
            box-shadow: none !important;
            border: unset !important;
        }
    }

    .BtnDisabled {

        padding: 15px 25px !important;
        max-width: 130px !important;
        width: 100% !important;
        height: 48px !important;
        white-space: nowrap !important;
    }

    .gitBtn {
        padding: 15px 25px !important;
        max-width: 130px !important;
        width: 100% !important;
        height: 48px !important;
        white-space: nowrap !important;

        &:hover {
            background: transparent !important;
            transform: none !important;
            box-shadow: none !important;
            border: 1px solid #70E61C !important;
        }
    }

    .infobox {
        a {
            font-size: 18px !important;
        }
    }
}