.contactHeader {
    margin-top: 32px;
    width: 68%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 64px;

    .purpleLine1 {
        max-width: 535px;
        width: 100%;
        height: 0px;
        border: 2px solid #9747FF;
    }

    h1 {
        all: unset;
        width: fit-content;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 90px;
        line-height: 120%;
        text-align: center;
        margin: 0 40px;
        color: #FFFFFF;
    }
}

.formAndTextWrap {
    display: flex;
    max-width: 1250px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    margin: 0 auto;
    margin-bottom: 64px;

    .textWrap {
        p {
            all: unset;
        }

        max-width: 474px;
        width: 100%;
        height: auto;
        gap: 24px;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins';
        color: white;

        .contactTextHeader {
            font-size: 32px;
            font-weight: 700;
        }

        .formDescripText {
            font-size: 16px;
            font-weight: 300;

            .highlighted {
                font-weight: 700;
            }
        }

    }

    .formWrap {
        max-width: 617px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        form {
            max-width: 617px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }

        .privacyPolicy {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            position: relative;
            padding: 0px;
            gap: 8px;
            max-width: 617px;
            height: 52px;
            width: 100%;

            input {
                max-width: unset;
                width: unset;
            }

        }

        .checkBox {
            position: relative;
            opacity: 0;
            pointer-events: none;
            margin-left: 10px;
        }

        .privacyPolicy img {
            position: absolute;
            transition: opacity 0.3s ease;
        }

        .unchecked {
            opacity: 1;
        }

        .checked {
            opacity: 0;
        }

        .checkBox:checked~.unchecked {
            opacity: 0;
        }

        .checkBox:checked~.checked {
            opacity: 1;
        }

        input {
            align-items: center;
            height: 50px;
        }

        textarea {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px 25px;
            gap: 10px;
            isolation: isolate;
            max-width: 617px;
            width: 100%;
            height: 202px;

        }

        input,
        textarea {
            max-width: 610px;
            width: 100%;
            margin-bottom: 10px;
            background: #141D2F;
            border: 1px solid #9747FF;
            border-radius: 10px;
            color: white;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            padding: 15px 25px;
            gap: 10px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            color: white;

            &::placeholder {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
        }



        p {
            color: red;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 12px;
        }
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 617px;
    width: 100%;
}

.error-message {
    position: absolute;
    bottom: -32px;
    /* Abstand nach unten */
    left: 0;
    color: red;
    font-size: 0.9em;
    display: none;
    /* Standardmäßig verstecken */
}

.error-message2 {
    position: absolute;
    margin-block-start: 0;
    bottom: -12px;
    /* Abstand nach unten */
    left: 0;
    color: red;
    font-size: 0.9em;
    display: none;
    /* Standardmäßig verstecken */
}

.input-wrapper input:invalid.ng-touched+.error-message,
.input-wrapper textarea:invalid.ng-touched+.error-message,
.input-wrapper input:invalid:focus+.error-message,
.input-wrapper textarea:invalid:focus+.error-message {
    display: block;
}

.input-wrapper input:invalid.ng-touched,
.input-wrapper textarea:invalid.ng-touched,
.input-wrapper input:invalid:focus,
.input-wrapper textarea:invalid:focus {
    border-color: red;
    /* Setzt nur die Border-Farbe auf rot */
}

.input-wrapper:has(input:invalid) .error-message2 {
    display: block;
}

input:focus,
textarea:focus {
    outline: none;
    /* Entfernt den Standard-Fokus-Rand */
}

button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: white;
    white-space: nowrap;
}

.submitDisabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 253px;
    height: 58px;
    background: #B6B6B6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.submitEnabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 253px;
    height: 58px;
    background: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: #9747FF;
        transform: scale(1.1);
        box-shadow: none;
        border: unset;
    }
}