.contactHeader {
    margin-top: 32px;
    width: 68%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    position: relative;

    .purpleLine1 {
        max-width: 60%;
        width: 100%;
        height: 0px;
        border: 2px solid #9747FF;
    }

    h1 {
        all: unset;
        width: fit-content;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 90px;
        line-height: 120%;
        text-align: center;
        margin: 0 40px;
        color: #FFFFFF;
    }
}

.errorTwoLines {}

.shadowPurpleLeft {
    position: absolute;
    bottom: -280px;
    left: 0;
    z-index: 1;
    max-width: 678px;
    width: 100%;
}

#observerAnchor5 {
    position: absolute;
    top: 00px;
    width: 1px;
    height: 1px;
}


.formAndTextWrap {
    display: flex;
    position: relative;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    margin: 0 auto;
    margin-bottom: 64px;
    position: relative;
    z-index: 2;
    padding: 0 100px;
    box-sizing: border-box;

    .svg-hover-icon {
        all: unset;
        position: absolute;
        width: 39px;
        height: 39px;
        cursor: pointer;
        bottom: -40px;
        right: 97px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.2s ease;
        }

        .svg-default {
            opacity: 1;
        }

        .svg-hover {
            opacity: 0;
        }

        &:hover .svg-default {
            opacity: 0;
        }

        &:hover .svg-hover {
            opacity: 1;
        }
    }

    .textWrap {
        max-width: 474px;
        width: 100%;
        height: auto;
        gap: 24px;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins';
        color: white;
        z-index: 3;

        p {
            all: unset;
        }

        .contactTextHeader {
            font-size: 32px;
            font-weight: 700;
            padding-right: 20px;
        }

        .formDescripText {
            font-size: 16px;
            font-weight: 300;
            padding: 16px 28px 16px 0;

            .highlighted {
                font-weight: 700;
            }
        }
    }

    .formWrap {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 3;

        form {
            max-width: 617px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
            position: relative;

            .confirmation {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                background-color: #70E61C;
                color: white;
                font-family: 'Poppins';
                font-weight: 300;
                padding: 12px 24px;
                border-radius: 12px;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
                min-width: 200px;
                justify-content: center;
                align-items: center;
                z-index: 999;
                opacity: 0;
                transform: translateX(-50%) translateY(0);
                transition: transform 0.6s ease-out, opacity 0.6s ease-out;
                display: flex;
                visibility: hidden;
            }

            .confirmation.show {
                visibility: visible;
                display: flex;
                opacity: 1;
                transform: translateX(-50%) translateY(-64px);
                /* fährt etwas hoch */
            }
        }

        .privacyPolicy {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            position: relative;
            padding: 0px;
            gap: 8px;
            max-width: 617px;
            height: 52px;
            width: 100%;

            span {
                font-family: 'Poppins';
                color: white;
                font-size: 16px;
                text-decoration: none;
            }

            a {
                font-family: 'Poppins';
                color: #9747FF;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    color: #70E61C;
                }
            }

            input {
                max-width: unset;
                width: unset;
            }
        }

        .checkBox {
            position: relative;
            opacity: 0;
            pointer-events: none;
            margin-left: 10px;
        }

        .privacyPolicy img {
            position: absolute;
            transition: opacity 0.3s ease;
        }

        .unchecked {
            opacity: 1;
            margin-top: 2.5px;
            cursor: pointer;
        }

        .checked {
            opacity: 0;
            margin-top: 2.5px;
            cursor: pointer;
        }

        .checkBox:checked~.unchecked {
            opacity: 0;
            margin-top: 2.5px;
        }

        .checkBox:checked~.checked {
            opacity: 1;
            margin-top: 2.5px;
        }

        input {
            align-items: center;
            height: 50px;
        }

        textarea {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px 25px;
            gap: 10px;
            isolation: isolate;
            max-width: 617px;
            width: 100%;
            height: 202px;

        }

        input,
        textarea {
            max-width: 610px;
            width: 100%;
            margin-bottom: 10px;
            background: #141D2F;
            border: 1px solid #9747FF;
            border-radius: 10px;
            color: white;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            padding: 15px 25px;
            gap: 10px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            color: white;

            &::placeholder {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
        }

        p {
            color: red;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 12px;
        }
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 617px;
    width: 100%;

    .warning {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 12px;
        right: 24px;
        display: none;
    }
}

.error-message {
    position: absolute;
    bottom: -32px;
    left: 0;
    color: red;
    font-size: 0.9em;
    display: none;
}

.error-message2 {
    position: absolute;
    margin-block-start: 0;
    bottom: -12px;
    left: 0;
    color: red;
    font-size: 0.9em;
    display: none;
}

.input-wrapper input:invalid.ng-touched+.error-message,
.input-wrapper textarea:invalid.ng-touched+.error-message,
.input-wrapper input:invalid:focus+.error-message,
.input-wrapper textarea:invalid:focus+.error-message {
    display: block;
}

.input-wrapper input:invalid.ng-touched,
.input-wrapper textarea:invalid.ng-touched,
.input-wrapper input:invalid:focus,
.input-wrapper textarea:invalid:focus {
    border-color: red;
}

.input-wrapper input:invalid.ng-touched~.warning,
.input-wrapper textarea:invalid.ng-touched~.warning,
.input-wrapper input:invalid:focus~.warning,
.input-wrapper textarea:invalid:focus~.warning {
    display: block;
}

.input-wrapper:has(input:invalid) .error-message2 {
    display: block;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: white;
    white-space: nowrap;
}

.submitDisabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 253px;
    height: 58px;
    background: #B6B6B6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.submitEnabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 253px;
    height: 58px;
    background: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: #9747FF;
        transform: scale(1.1);
        box-shadow: none;
        border: unset;
    }
}

@media (max-width: 1170px) {
    h1 {
        font-size: 70px !important;
    }
}

@media (max-width: 903px) {
    h1 {
        font-size: 62px !important;
    }


    .formAndTextWrap {
        flex-direction: column;
    }

    span {
        a {
            color: #70E61C !important;

            &:hover {
                color: #e5f3db !important;
            }
        }
    }

    .formWrap {
        align-items: flex-start !important;

        form {
            gap: 24px;
            margin-top: 20px;
            max-width: 100% !important;

            .input-wrapper {
                max-width: 100% !important;

                input,
                textarea {
                    max-width: 100% !important;
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    .svg-hover-icon {
        pointer-events: none !important;

        svg {
            display: none !important;
        }
    }
}

@media(max-width: 700px) {
    .formAndTextWrap {
        padding: 0 9vw !important;
    }
}

@media (max-width: 600px) {
    .contactHeader {
        width: 100%;
        gap: 16px;

        h1 {
            font-size: 55px !important;
            margin-right: calc(50% - 115px) !important;
            margin-left: unset !important;
        }
    }
}

@media(max-width: 540px) {
    .contactHeader {
        h1 {
            font-size: 45px !important;
            margin-right: calc(50% - 104px) !important;
        }
    }

    .textWrap {
        .contactTextHeader {
            font-size: 26px !important;
        }
    }
}

@media(max-width: 420px) {
    .errorTwoLines {
        bottom: -47px !important;
    }
}