l {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(20, 29, 47);
}

app-header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 109.03px;
    position: sticky;
    top: 0;
    z-index: 5;
}

app-footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(20, 29, 47);
    border-top: solid 4px #70E61C;
    justify-content: center;
    align-items: center;
    height: 291px;
}

.legalNotice {
    max-width: 1440px;
    width: 100%;
    font-family: 'Poppins';
    color: white;
    margin: 60px auto;

}

:host ::ng-deep .legalNotice {

    p, h1 {
        padding: 0 100px;
    }

    a {
        text-decoration: none;
        color: #70E61C;
    }
}

@media (max-width: 700px) {
    :host ::ng-deep .legalNotice {
        p, h1 {
            padding: 0 51px;
        }
    }
}

@media (max-width: 540px) {
    :host ::ng-deep .legalNotice {

        p, h1 {
            padding: 0 26px;
        }


    }
}