@import 'fonts.scss';

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

app-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 590px;
    position: absolute;
    height: 109.03px;
    left: 0px;
    top: 0px;
    background-color: rgb(20, 29, 47);
}
