@import 'fonts.scss';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1c263b;
  }

body {
    margin: 0;
    width: 100%;
    background-color: #1c263b;
    display: flex;
    flex-direction: column;
}

app-header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 109.03px;
    background-color: rgb(20, 29, 47);
}

app-here-iam {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    background-color: rgb(20, 29, 47);
    min-height: calc(100vh - 109.03px);
    position: relative;
}