@import 'fonts.scss';

html {
    scroll-behavior: smooth;
}


body {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    padding: 0;
}

app-header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 109.03px;
    position: sticky;
    top: 0;
    z-index: 5;
}

app-here-iam {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 29, 47);
    min-height: calc(100vh - 109.03px);
    justify-content: center;
    position: relative;
}

app-about-me {
    position: relative;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    z-index: 3;
    justify-content: flex-start;
    align-items: center;
}

app-portfolio {
    position: relative;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

app-comments {
    position: relative;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
   
}

app-kontaktform {
    position: relative;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    color: white !important;
}

app-footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(20, 29, 47);
    border-top: solid 4px #70E61C;
    justify-content: center;
    align-items: center;
    height: 343px;
    z-index: 5;
    position: relative;
    bottom: 0;
}

.noScroll {
    overflow: hidden;
}

@media (max-width: 1435px) {
    app-here-iam {
        justify-content: space-between;
    }
}