<div class="footerTextWrap">
    <div class="logoWrap">
        <img src="/assets/Bewerbungslogo.png" alt="">
        <a [routerLink]="['/legal-notice']">Legal Notice</a>
    </div>
    <p>&copy; Stephen Schaz 2025</p>
    <div class="socials">

        <a href="https://github.com/StephensSpace" class="linkSymbols" target="_blank" rel="noopener noreferrer">
            <img src="/assets/socials/githubButton.png" alt="GitHub">
        </a>
        <a href="mailto:stephenschaz90@gmail.com" class="linkSymbols">
            <img src="/assets/socials/emailButton.png" alt="E-Mail">
        </a>
        <a href="https://www.linkedin.com/in/stephen-schaz-54a337345/" class="linkSymbols" target="_blank" rel="noopener noreferrer">
            <img src="/assets/socials/linkedinButton.png" alt="LinkedIn">
        </a>

    </div>
</div>